<template>
  <div class="lyric">
    <div ref="hemistich" class="lyric__content" v-for="poem in lyric.lyric" :key="poem.id">
      <p class="lyric__hemistich">{{ poem.hemistich }}</p>
      <p class="lyric__translate">{{ poem.translate }}</p>
    </div>
    <div class="player">
      <audio ref="audio" :src="lyric.audio" controls></audio>
    </div>
  </div>
</template>

<script>
import VueScrollTo from "vue-scrollto";

export default {
  async asyncData({ $axios, params }) {
    const response = await $axios.$get(
      `https://gitlab.com/zaynab-raisi/learnlyric-api/-/raw/master/api.json`
    );
    const lyric = response[`${params.lang}`].find(
      (elem) => elem.name === params.music
    );
    const timeList = lyric.lyric.map((x) => x.time);
    return { lyric, timeList };
  },
  mounted() {
    const options = {
      offset: -229,
    };
    const len = this.timeList.length;
    this.$refs.audio.ontimeupdate = () => {
      for (let i = 0; i < len; i++) {
        if (
          Math.abs(this.$refs.audio.currentTime.toFixed(5) - this.timeList[i]) <
          0.15
        ) {
          console.log("yes");
          this.$refs.hemistich.map((x) => {
            x.classList.remove("select");
          });
          this.$refs.hemistich[i].classList.add("select");
          VueScrollTo.scrollTo(".select", 0, options);
        }
      }
    };
  },
};
</script>

<style scoped>
.lyric {
  padding-top: 2rem;
  padding-bottom: 134px;
  min-height: 100vh;
  background-color: rgb(23, 33, 45);
  text-align: center;
  color: #8b9096;
}
.lyric__content {
  margin-bottom: 2rem;
}
.select {
  color: #ffffff;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 134px;
  background-color: inherit;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0 0 5px 3px #000;
}
.player audio {
  width: 80%;
}
.player audio:focus {
  outline: none;
}
</style>
