<template>
  <header class="header">
    <button>
      <svg
        width="24"
        class="MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        role="presentation"
      >
        <path fill="none" d="M0 0h24v24H0z" />
        <path fill="#fff" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
      </svg>
    </button>
    <nuxt-link :to="{name: 'index'}" class="logo">
      <h2 class="logo__title">learnlyric</h2>
      <span class="logo__dot"></span>
    </nuxt-link>
    <button>
      <svg
        width="24"
        class="MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        role="presentation"
      >
        <path
          fill="#fff"
          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
        />
        <path fill="none" d="M0 0h24v24H0z" />
      </svg>
    </button>
  </header>
</template>

<style scoped>
button,
a {
  all: unset;
  padding: 1rem;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}
button:hover,
a:hover {
  background-color: #000000;
}
.logo__dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}
.logo__title {
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(23, 33, 45);
  color: #ffffff;
  top: 0;
  /* left: auto; */
  /* right: 0; */
  position: sticky;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
}
</style>
