@font-face {
  font-family: 'Markazi Text';
  src: url('./MarkaziText-VariableFont_wght.ttf') format('truetype');
}

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: 'Markazi Text';
  letter-spacing: .05rem;
  font-size: 1.5rem;
}
