<template>
  <div class="promotion">
    <div class="promotion__row" v-for="(language, key) in songs" :key="language.id">
      <div class="promotion__top">
        <h3>{{ key.charAt(0).toUpperCase() + key.slice(1) }}</h3>
      </div>
      <div class="promotion__cards">
        <nuxt-link
          class="promotion__card"
          v-for="song in language"
          :key="song.name"
          :to="{name: 'lang-music', params: {lang: key, music: song.name}}"
        >
          <div class="promotion__img">
            <img :src="song.cover" :alt="song.name" />
          </div>
          <div class="promotion__content">
            <h4>{{ song.name }}</h4>
            <p>{{ song.artist }}</p>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    const songs = await $axios.$get(
      `https://gitlab.com/zaynab-raisi/learnlyric-api/-/raw/master/api.json`
    );
    return { songs };
  },
};
</script>

<style>
.promotion {
  min-height: 100vh;
  background-color: rgb(23, 33, 45);
  color: #ffffff;
}
.promotion__row {
  margin: 0 4rem;
  padding: 1rem 0;
}
.promotion__cards {
  display: flex;
  margin-top: 15px;
}
.promotion__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0.5rem;
}
.promotion__img {
  border-radius: 10px;
  overflow: hidden;
}
.promotion__img img {
  width: 100%;
}
.promotion__card p {
  color: #8b9096;
}
</style>
